@charset "shift_jis";


/*---------- ページ全体の指定 ----------*/

body {
  font-family: Verdana, Arial, Helvetica, sans-serif, "ＭＳ ゴシック","Hiragino KaKu Gothic Pro", Osaka;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #333;
  letter-spacing: 1px;
  background-color: #FFFFFF;
}

* {
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

a:link {
  color: #004080;
  font-size: 12px;
}

a:hover {
  color: #005ebb;
  font-size: 12px;
}

a:visited {
  color: #004080;
  font-size: 12px;
}

p {
  margin: 20px 0 20px 0;
  line-height: 150%;
  letter-spacing: 1px;
}



/*---------- メイン ----------*/

#main {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 800px;
  border-right: solid 1px #bbbbbb;
  border-bottom: solid 2px #aaaaaa;
  border-left: solid 1px #bbbbbb;
  background-color: #ffffff;
}


/*---------- ヘッダー ----------*/

#header {
  margin: 0;
  border-top: solid 3px #666666;
  background-color: #999999;
}

#header-inner {
  margin: 0;
  padding: 0;
  color: #333333;
  width: 800px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

#table-left{
  text-align: left;
  margin: 0;
  padding: 15px 0 10px 10px;
  font-size: 16px;
  color: #333333;
  line-height: 150%;
  text-decoration: none;
}

#header h1 {
  font-size: 12px;
  margin: 0;
  padding: 6px 3px 4px 6px;
  color: #333;
}

#table-left a{
  font-size: 16px;
  color: #444444;
  text-decoration: none;
}

#table-left a:hover{
  font-size: 16px;
  color: #666666;
  text-decoration: none;
}


#table-right{
  text-align: right;
  margin: 0;
  padding: 6px 8px 2px 0;
  font-size: 12px;
  color: #333333;
  line-height: 150%;
  text-decoration: none;
}

#table-right a{
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}

#table-right a:hover{
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}


#header-menu {
  margin: 0px;
  padding: 0px;
  height: 28px;
  border-top: solid 2px #dddddd;
  border-bottom: solid 2px #dddddd;
  background-color: #666666;
}

#header-menu li {
  list-style-type: none;
  float: left;
}

#header-menu li a {
  font-size: 11px;
  width: 100px;
  height: 24px;
  line-height: 25px;
  color: #ffffff;
  background-color: #666666;
  text-align: center;
  display: block;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #cccccc;
  text-decoration: none;
  padding-top: 4px;
}

#header-menu li  a:hover {
  color: #cccccc;
}

#header-menu #contact {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
}


#header-img {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 200px;
  font-family:Verdana;
  background-image: url(img/main_photo.jpg);
  background-repeat: no-repeat;
}


/*---------- コンテンツ ----------*/

#container {
  margin: 0px;
  padding: 10px 12px 8px 8px;
  width: 780px;
  background-color: #ffffff;
}



/*---------- メインコンテンツ ----------*/

#contents {
  float: right;
  margin:  5px 0 0 0;
  padding: 0 0 0 6px;
  line-height: 180%;
  letter-spacing: 1px;
  width: 580px;
}

#contents img.sample {
  float: left;
  margin: 20px;
}

#contents h2 {
  margin: 4px 0 0 0;
  padding: 7px 0 5px 18px;
  line-height: 110%;
  font-size: 12px;
  color: #555555;
  border-bottom: solid 2px #aaaaaa;
  background-image: url(img/titlebar.gif);
}

#contents p {
  margin: 0;
  padding: 15px 0 15px 0;

}

#news {
  width: 578px;
  height: 150px;
  overflow: auto;
  background-color: #ffffff;
  padding: 5px;
  margin: 12px 0 10px 0;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #999999;
}


/*---------- メニュー ----------*/

#menu {
  float: left;
  margin: 0;
  padding: 8px 3px 0 8px;
  width: 165px;
  text-align: left;
  line-height: 180%;
  letter-spacing: 1px;
  background-color: #ffffff;
}

#menu h2 {
  height: 16px;
  margin: 0;
  padding: 6px 0 2px 2px;
  border-bottom: solid 3px #666666;
  line-height: 110%;
  font-size: 12px;
  color: #444444;
  background-color: #ffffff;
}

#menu p {
  margin: 10px 4px 16px 4px;
  line-height: 200%;
}

li {
  list-style-image: url(img/mark.gif);
  margin: 0 0 5px 0;
}

#menu a{
  color: #004080;
  font-size: 12px;
 }

#menu a:hover{
  color: #005ebb;
  font-size: 12px;
}



/*---------- フッター ----------*/

#footer {
  clear: both;
  margin: 0;
  padding: 20px 20px 20px 0;
  text-align: right;
  font-size: 12px;
  color: #666666;
  border-top: solid 2px #666666;
  background-color: #ffffff;
}

#footer h1 {
  margin: 0;
  text-align: right;
  padding: 2px 8px 0 0;
  font-size: 10px;
  color: #666666;
}

#footer h1 a {
  color: #666666;
  font-size: 10px;
 }

#footer h1 a:hover {
  color: #666666;
}

#footer a {
  color: #666666;
  font-size: 12px;
 }

#footer a:hover {
  color: #333333;
}

/* リスト */
ul.list li {
    margin: 0 0 0 2em;
    list-style-image: url('/static/img/box.gif');
    padding: 0;
}
