<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="テコンドー,ミョンソン・テコンドー,WTFテコンドー,テコンドー新宿" content="テコンドー" />
    <meta name="description" content="東京都で活動するWTFテコンドー教室" />
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <title>{% trans "myung seong taekwondo" %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base_style.css" media="all" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/spreadsheet.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/jquery-ui-1.9.0.custom.min.css" />
  </head>
  <body>
    <!-- メインコンテンツ部分 -->
    <div id="main">
      <!-- メインヘッダー部分 -->
      <div id="header">
        <div id="header-inner">
          <table border="0" align="" cellpadding="0" cellspacing="0" width="780">
            <tr>
              <td>
                <div id="table-left">
                  <!-- TODO: -->
                  <a href="http://www.myungseong-tkd.com/">
                    <img src="{{ STATIC_URL }}img/{{ LANGUAGE_CODE }}/toplogo.png" alt="ミョンソン・テコンドー"
                         width="300" height="55" border="0" />
                  </a>
                </div>
              </td>
              <td>
                <div id="table-right"><img src="{{ STATIC_URL }}img/icon.gif" alt="icon" border="0" />
                  <a href="http://myonson-tkd.blogspot.com/" target="_blank">{% trans "gymblog" %}</a>
                  <img src="{{ STATIC_URL }}img/icon.gif" alt="icon" border="0" />
                  <a href="/entries/mail/">{% trans "inquiry" %}</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- プルダウン言語セット -->
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="nexta" type="hidden" value="{{ redirect_to }}" />
        <!--input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" /-->
        <select name="language">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
        </select>
        <input type="submit" value="Go" />
      </form>
      <!-- メインヘッダー終わり -->
      <div>
        {% if user.is_anonymous %}
        <dd div class="operation">
            {% load l10n %}
            {% trans "myung seong taekwondo" %}
          <a href="/entries/login">{% trans "login" %}</a>
        </dd>
        <hr />
        {% else %}
        <p>username: <b>{{ user.username }}</b>
          <a href="/entries/logout/"> [{% trans "logout" %}]</a>
        </p>
        {% endif %}
      </div>
      <div id="header-menu">
        <ul>
          <li id="home"><a href="/entries/">{% trans "home" %}</a></li>
          <li><a href="/entries/member/">{% trans "admission" %}</a></li>
          <li><a href="/entries/schedule/">{% trans "training" %}</a></li>
          <li><a href="/entries/master/">{% trans "masterintro" %}</a></li>
          <li><a href="/entries/bbs/">{% trans "bbs" %}</a></li>
          <li><a href="/entries/links/">{% trans "links" %}</a></li>
          <li id="contact"><a href="/entries/mail/">{% trans "inquiry" %}</a></li>
        </ul>
      </div>
      <!-- トップコンテンツ部分 -->
      <!-- コンテンツ内部 -->
      <div id="container">
        {% block main %}

        {% endblock main %}

        <br />
        <!-- コンテンツ内部 終わり -->
      <!-- サイドメニュー部分 -->
      <div id="menu">
        <h2>{% trans "gymguide" %}</h2>
        <p>
          <!-- TODO: 管理者のみ表示 -->
          <a href="/admin/">{% trans "admin" %}</a><br />
          <a href="/entries/">{% trans "home" %}</a><br />
          <a href="/entries/member/">{% trans "admission" %}</a><br />
          <a href="/entries/schedule/">{% trans "shinjukugym" %}{% trans "training" %}</a><br />
          <a href="/entries/edogawa/">{% trans "edogawaclub" %}{% trans "training" %}</a><br />
          <a href="/entries/shinjukuclub/">{% trans "shinjukuclub" %}{% trans "training" %}</a><br />
          <a href="/entries/master/">{% trans "masterintro" %}</a><br />
          <a href="/entries/mail/">{% trans "inquiry" %}</a><br />
        </p>
        <h2>{% trans "mobileedition" %}</h2>
        <br />
        <img src="{{ STATIC_URL }}img/{{ LANGUAGE_CODE }}/qr.png" width="165" height="70" /> <br />
        </p>
        <h2>{% trans "sistergym" %}</h2>
        <p><a href="http://www.j-taekwondo.com" target="_blank"><img src="{{ STATIC_URL }}img/j-taekwondo150_bana.gif"
           alt="テコンドー" width="150" height="60" border="0" /></a>
        <h2>{% trans "gymblog" %}</h2>
        <p>
          <script language="javascript" src="http://rss.tc/feed/RssReader.aspx?url=http%3a%2f%2fmyonson-tkd.blogspot.com%2ffeeds%2fposts%2fdefault%3falt%3drss&amp;displayRow=10&amp;enc=3&amp;dispTitle=true&amp;dispTime=false&amp;id=9093"></script>
          <div style="font-size: 10px; text-align: right; margin: 2px ">Powered by <a href="http://rss.tc/" target="_top">
            <img src="http://rss.tc/images/rsstcicon.gif" alt="RSSリスティング" width="80" height="15" border="0" align="absbottom" />
          </a>
        </div>
      </div>
      <!-- サイドメニュー部分 終わり -->
      </div>
      <!-- トップコンテンツ部分 終わり -->
      <!-- フッター部分 -->
      <div id="footer"> Copyright (C) 2011 myungseong-tkd.com All Rights Reserved.</div>
      <!-- フッター部分 終わり -->
    </div>
    <!-- メインコンテンツ部分 終わり -->
  </body>
</html>