{% extends "base.html" %}
{% block main %}
   <!-- コンテンツ内部 -->
   <div id="contents">
      <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
      <br />
      {% load i18n %}
      {% load my_tags %}
      <h2>{% trans 'edogawaclub' %}{% trans 'training' %}</h2>
      <br />
      <a href="http://www.city.edogawa.tokyo.jp/shisetsuguide/bunya/kuyakusho/kuminkan/c_toubu/guide/index.html"
         target="_blank">{% trans 'edogawa map' %}</a>
      <br />
      <table width="580" align="center" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
         <tr bgcolor="#FFFFCC">
            <td width="1026">
               <div align="center"><strong>&gt;&gt; {% trans 'edogawaclub' %} &lt;&lt;
                  </strong>
               </div>
            </td>
         </tr>
         <tr>
            <td height="113" bgcolor="#FFFFFF">{% trans 'every thursday' %}(月４回) <br />
               {% trans 'time' %}: １７：３０～１８：３０<br />
               {% trans 'place' %}: {% trans 'edogawa address' %}<br />
               ※{% trans 'toei shinjuku line' %}({% trans 'mizue st' %}){% get_walk_time 5 %}
               <br />
               {% trans 'edogawa ex' %}<br />
               <br />
               {% trans 'enrollment fee' %}: {% get_yen 2000 %}, {% trans 'monthly tuition' %}: {% get_yen 5000 %},
               {% trans 'sports insurance' %}({% trans 'yearly' %}): {% get_yen 1850 %}({% trans 'child' %}: {% get_yen 800 %}),
               {% trans 'uniform charge' %}: {% get_yen 4500 %}({% trans 'child' %}: {% get_yen 4000 %})<br />
               ★★{% trans 'edogawaclubs' %}{% trans 'training scene' %}★★<br />
               <img src="{{ STATIC_URL }}img/edogawa.jpg" width="580" height="109" />
            </td>
         </tr>
      </table>
   </div>
   <!-- コンテンツ内部 終わり -->
{% endblock %}