{% extends "base.html" %}
{% block main %}
  <!-- コンテンツ内部 -->
  <div id="contents">
    <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
    <br />
    {% load i18n %}
    {% load my_tags %}
    {% get_current_language as LANGUAGE_CODE %}
    <h2>{% trans 'greeting' %}</h2>
    <p>
      {% trans 'index explanation1' %}
      <br />
      {% trans 'index explanation2' %}
      <br />
      <img src="{{ STATIC_URL }}img/{{ LANGUAGE_CODE }}/shoshinsha.png" width="200" height="40" />
    </p>
    <h2>{% trans 'training' %}＆{% trans 'gym info' %}</h2>
    <br />
    <table width="580" border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
      <tr bgcolor="cccccc">
        <td colspan="4">
            <strong><a href="/entries/schedule/">{% trans 'shinjukugym' %}{% trans 'training' %}</a>
            </strong>
        </td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td width="161">
          <div align="center">{% trans 'school' %}</div>
        </td>
        <td width="155">
          <div align="center">{% trans 'practice schedule' %}</div>
        </td>
        <td width="128">
          <div align="center">{% trans 'traffic' %}</div>
        </td>
        <td width="131">
          <div align="center">{% trans 'master' %}／{% trans 'charge' %}</div>
        </td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF">
        <td width="161">
          <div align="center">{% trans 'child class' %}</div>
        </td>
        <td width="155">
          <div align="center">{% trans 'mon' %}・{% trans 'wed' %}・{% trans 'saturday' %}</div>
        </td>
        <td>
          <div align="center">{% trans 'shinjuku st' %}: {% get_walk_time 12 %}</div>
        </td>
        <td>
          <div align="center">{% trans 'kwon dohyong' %}</div>
        </td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td width="161">
          <div align="center">{% trans 'adult class' %}</div>
        </td>
        <td width="155">
          <div align="center">
              {% trans 'mon' %}・{% trans 'tue' %}・{% trans 'wed' %}・{% trans 'fri' %}・{% trans 'saturday' %}日
          </div>
        </td>
        <td width="128">
          <div align="center">{% trans 'shinjuku st' %}: {% get_walk_time 12 %}</div>
        </td>
        <td width="131">
          <div align="center">{% trans 'kwon dohyong' %}</div>
        </td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF">
        <td width="161">
          <div align="center">{% trans 'kyorugi' %}{% trans 'player' %}</div>
        </td>
        <td width="155">
          <div align="center">{% trans 'every saturday' %}</div>
        </td>
        <td width="128">
          <div align="center">{% trans 'shinjuku st' %}: {% get_walk_time 12 %}</div>
        </td>
        <td width="131">
          <div align="center">{% trans 'kwon dohyong' %}</div>
        </td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF">
        <td width="161">
          <div align="center">{% trans 'poomsae' %}{% trans 'player' %}</div>
        </td>
        <td width="155">
          <div align="center">{% trans 'every friday' %}</div>
        </td>
        <td width="128">
          <div align="center">{% trans 'shinjuku st' %}: {% get_walk_time 12 %}</div>
        </td>
        <td width="131">
          <div align="center">{% trans 'kwon dohyong' %}</div>
        </td>
      </tr>
    </table>
    <br />
    <table width="580" border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
      <tr bgcolor="cccccc">
        <td colspan="4">
            <strong>
                <a href="/entries/edogawa/">{% trans 'edogawaclub' %}{% trans 'training' %}</a>
            </strong>
        </td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td width="142">
          <div align="center">{% trans 'school' %}</div>
        </td>
        <td width="81">
          <div align="center">{% trans 'practice schedule' %}</div>
        </td>
        <td width="234">
          <div align="center">{% trans 'traffic' %}</div>
        </td>
        <td width="118">
          <div align="center">{% trans 'master' %}／{% trans 'charge' %}</div>
        </td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF">
        <td width="142">
          <div align="center">{% trans 'edogawaclub' %}</div>
        </td>
        <td width="81">
          <div align="center">{% trans 'thursday' %}</div>
        </td>
        <td>
          <div align="center">{% trans 'toei shinjuku line' %}({% trans 'mizue st' %})
              {% trans 'on foot' %}{% trans 'minuites' %}</div>
        </td>
        <td>
          <div align="center">{% trans 'kwon dohyong' %}</div>
        </td>
      </tr>
    </table>
    <div align="right">
      <br />
      <table width="580" border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
        <tr bgcolor="cccccc">
          <td colspan="4">
            <div align="left">
                <strong>
                    <a href="/entries/shinjukuclub/">{% trans 'shinjukuclub' %}{% trans 'training' %}</a>
                </strong></div>
          </td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td width="138">
            <div align="center">{% trans 'school' %}</div>
          </td>
          <td width="81">
            <div align="center">{% trans 'practice schedule' %}</div>
          </td>
          <td width="240">
            <div align="center">{% trans 'traffic' %}</div>
          </td>
          <td width="116">
            <div align="center">{% trans 'master' %}／{% trans 'charge' %}</div>
          </td>
        </tr>
        <tr valign="top" bgcolor="#FFFFFF">
          <td width="138">
            <div align="center">{% trans 'shinjukuclub' %}</div>
          </td>
          <td width="81">
            <div align="center">{% trans 'friday' %}</div>
          </td>
          <td>
            <div align="center">{% trans 'higashishinjuku st' %}{% get_walk_time 3 %},
                {% trans 'shinokubo st' %}: {% get_walk_time 7 %}</div>
          </td>
          <td>
            <div align="center">{% trans 'kwon dohyong' %}</div>
          </td>
        </tr>
      </table>
      <br />
    </div>

    <h2>{% trans 'notice' %}＆{% trans 'whatsnew' %}</h2>
      {% block news_content %}
      {% endblock news_content %}
  </div>
{% endblock %}