{% extends "base.html" %}
{% block main %}
  <!-- コンテンツ内部 -->
  <div id="contents">
    <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
    <br />
    {% load i18n %}
    <h2>{% trans 'masterintro' %}</h2>
    <p>{% trans 'kwon dohyong' %}　(KWON DOHYONG)<br />
      ・ミョンソンテコンドー師範<br />
      ・世界テコンドー連盟国際師範５段<br />
      <br />
      ２００８年　啓明大学テコンドー学科卒業<br />
      ２００８年～２００９年　韓国天地道場師範<br />
      ２００９年～２０１１年　ジャパンテコンドースクール師範<br />
    </p>
  </div>
  <!-- コンテンツ内部 終わり -->
{% endblock %}