{% extends "base.html" %}
{% block main %}
  <!-- コンテンツ内部 -->
  <div id="contents">
    <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
    <br />
    {% load i18n %}
    {% load my_tags %}
    <h2>{% trans 'admission' %}</h2>
    <p>
      {% trans 'index explanation1' %}
      <br />
      {% trans 'index explanation2' %}
      <br />

      <ul class="list">
        <li>{% trans 'member explanation1' %}
        <ul>
          <li>{% trans 'member explanation2' %}</li>
        </ul>
        </li>
      </ul>
      <br />

      <ul class="list">
        <li>{% trans 'member explanation3' %}
        <ul>
          <li>{% trans 'member explanation4' %}</li>
          <li>{% trans 'member explanation4' %}</li>
        </ul>
        </li>
      </ul>
      <br />

      <ul class="list">
        <li>{% trans 'cost' %}
        <ul>
          <li>{% trans 'enrollment fee' %}: {% get_yen 4000 %}({% trans 'child' %}: {% get_yen 3000 %})</li>
          <li>
            {% trans 'monthly tuition' %}
            ({% trans 'general' %}: {% get_yen 10000 %},
            {% trans 'student' %}: {% get_yen 9000 %},
            {% trans 'child' %}: {% get_yen 8000 %})<br />
          </li>
          <li>
            {% trans 'sports insurance' %}({% trans 'gt high school' %}: {% get_yen 1600 %},
            {% trans 'lt jr high school' %}: {% get_yen 600 %})<br />
          </li>
          <li>
            {% trans 'uniform charge' %}: {% get_yen 4500 %}({% trans 'child' %}: {% get_yen 4000 %})<br />
          </li>
        </ul>
        </li>
      </ul>
      <br />

      <ul class="list">
        <li>{% trans 'other' %}
          <ul>
            <li>{% trans 'member explanation6' %}</li>
          </ul>
          <ul>
            <li>{% trans 'member explanation7' %}</li>
          </ul>
          <ul>
            <li>{% trans 'member explanation8' %}</li>
          </ul>
        </li>
      </ul>

      <img src="{{ STATIC_URL }}img/line.gif" width="560" height="9" /> <br />
      <a href="/entries/schedule/">{% trans 'member explanation9' %}</a><br />
    </p>
  </div>
  <!-- コンテンツ内部 終わり -->
{% endblock %}