{% extends "base.html" %}
{% block main %}
{% load i18n %}

<div id="contents">

<h3>{% trans "bbs" %}</h3>
<hr />
{% block entry_content %}
{% endblock entry_content %}

<hr />
</div>
{% endblock main %}
