{% extends "entries/base_entries.html" %}
{% block entry_content %}
{% load i18n %}
<dt>
  <b>{{ object.title }}</b>
</dt>

<dd>
  {{ object.content }}
</dd>

<dd div class="operation">
  [<a href="/entries/update/{{ object.id }}">{% trans "edit" %}</a>]
  [<a href="/entries/delete/{{ object.id }}">{% trans "delete" %}</a>]
</dd>

<hr />
{% for comment in comment_list %}
  <li>
    {{ comment.message }}<br />
    ({{ comment.pub_date|date:"Y/m/d h:i:s" }})
  </li>
{% endfor %}

{% load comments %}
<h2><a name="comments" href="#"></a>Comments</h2>
{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
<p class="date">On {{comment.submit_date|date:"F j,Y" }}, {{ comment.user_name}} said:</p>
<blockquote>
{{comment.comment}}
</blockquote>
{% endfor %}

<div id="add_comment">
<h2>{% trans "add comment" %}</h2>
{% render_comment_form for object %}
</div>

{% endblock %}
