{% extends "entries/base_entries.html" %}
{% block entry_content %}
{% load i18n %}

<!-- BBS一覧 -->
{% if object_list.count < 1 %}
  <b>{% trans "no entry" %}</b>
{% else %}
  {# ここからページネーションの開始 #}
  {% load pagination_tags %}
  {% autopaginate object_list 12 %}

  {# 数字表示 #}
  {% paginate %}
  {% for entry in object_list %}
  <dt>
    [{{ entry.id }}] <b><a href="/entries/detail/{{ entry.id }}">{{ entry.title }}</a></b>
    by {{ entry.name }}
    [<a href="mailto:{{ entry.email }}">mail</a>]
    [{% trans "post date" %}: {{ entry.create_at }}]
  </dt>

  <dd>
    {{ entry.content }}
  </dd>

  <dd class="operation">
    [<a href="/entries/update/{{ entry.id }}">{% trans "edit" %}</a>]
    [<a href="/entries/delete/{{ entry.id }}">{% trans "delete" %}</a>]
  </dd>
  <hr />
  {% endfor %}

  {# 数字表示 #}
  {% paginate %}
{% endif %}
<dd div class="operation">
  [<a href="/entries/create/">{% trans "add comment" %}</a>]
</dd>
{% endblock %}
