{% extends "pages/index.html" %}
{% block news_content %}

<dt>
  {{ objec.title }}
</dt>
<dd>
  {{ object.content|linebreaks }}
</dd>
<dd>
  -
  {{ object.date }}
  {% if news.date|date:"w" == '0' %}
  {# 日曜 #}
  (<font color="#FF0000">{{ news.date|date:"D" }}</font>)
  {% elif news.date|date:"w" == '6' %}
  {# 土曜 #}
  (<font color="#0000FF">{{ news.date|date:"D" }}</font>)
  {% else %}
  (<font color="#000000">{{ news.date|date:"D" }}</font>)
  {% endif %}
</dd>
</br />

<dd div class="operation">
  [<a href="/entries/update_news/{{ object.id }}">編集</a>]
  [<a href="/entries/delete_news/{{ object.id }}">削除</a>]
</dd>
<br />
{% endblock %}
